body {
  text-align: center;
  background-color: rgb(236, 250, 249);
}

.App-header {
  margin: 35px auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #5a6275;
}

.App h1 {
  margin: 30px;
}
