body {
  text-align: center;
  background-color: rgb(236, 250, 249);
  max-width: 940px;
  margin: 0 auto;
}

.App img {
  width: 300px;
  display: inline-block;
}

.App-header {
  margin: 15px auto;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #515868;
}

.App h1 {
  margin-bottom: 15px;
  margin-top: 0px;
  font-size: 44px;
  position: relative;
  top: -13px;
}
