.Footer {
  font-size: 12px;
  margin: 20px;
  color: #5a6275;
  font-style: italic;
}

.Footer a {
  color: rgba(41, 197, 171, 0.945);
  text-decoration: none;
}

.Footer a:hover {
  color: rgba(35, 223, 191, 0.945);
}
