.KeywordPhonetic {
  font-size: 26px;
  font-style: italic;
  font-weight: 600;
  opacity: 0.6;
  padding-bottom: 20px;
}

.KeywordPhonetic .audioPlayer {
  margin-left: 35px;
  position: relative;
  top: 16px;
  display: inline-block;
  width: 50%;
}

.KeywordPhonetic audio {
  max-width: 250px;
  height: 43px;
}
