.SearchResults {
  margin: 10px 30px auto;
  font-size: 16px;
  color: #5a6275;
  text-align: left;
}

.SearchResults h2 {
  font-size: 34px;
  margin: 10px 0px 10px;
}

.SearchResults h3 {
  font-size: 23px;
  margin: 10px 0px 10px;
}

.SearchResults section {
  background-color: white;
  margin-bottom: 35px;
  border-radius: 8px;
  max-width: 740px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
